header{
  height:fit-content;
  font-size: 33px;
  color:black;
}
h1{
  height:fit-content;
  font-size: 50px;
  color:black; 
  text-align:center;
  background-color: #00ffff;
  margin:0;

}
nav{
  
  display: flex;
  background-color: #ffdab9;
}
nav>p>a{
    font-size: 25px;
    text-decoration: none;
    font-style: unset;
    cursor: pointer ;
    color: black;
    margin: 3rem;
 // clear: both;
}