*{box-sizing: border;}
body{
  width:1fr;
  margin:auto;
  display: grid;
  grid-template-rows: 20% 80% 20%;

}
.outputArea{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-grow:4 4;
}